@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

:root {
  --textPrimary: 3, 3, 3;
  --textPrimaryInverse: 255, 255, 255;
  --textSecondary: 96, 96, 96;
  --textDisabled: 144, 144, 144;
  --baseBackground: 255, 255, 255;
  --raisedBackground: 255, 255, 255;
  --menuBackground: 255, 255, 255;
  --generalBackgroundA: 249, 249, 249;
  --generalBackgroundB: 241, 241, 241;
  --generalBackgroundC: 233, 233, 233;
  --errorBackground: 24, 24, 24;
  --invertedBackground: 15, 15, 15;
  --additiveBackground: 0, 0, 0;
  --searchBorder: 204, 204, 204;
  --searchBorderFocus: 28, 98, 185;
  --searchButton: 248, 248, 248;
  --searchButtonBorder: 211, 211, 211;
  --searchButtonFocus: 233, 233, 233;
  --searchButtonHover: 240, 240, 240;
  --searchButtonBorderHover: 198, 198, 198;
  --callToAction: 6, 95, 212;
  --callToActionInverse: 6, 95, 212;
  --suggestedAction: 222, 241, 255;
  --suggestedActionInverse: 38, 56, 80;

  --chipBackground: rgba(0, 0, 0, 0.05);
  --chipBackgroundHover: rgba(0, 0, 0, 0.1);
  --verifiedBadgeBackground: rgba(0, 0, 0, 0.15);
  --outline: rgba(0, 0, 0, 0.1);
  --shadow: rgba(0, 0, 0, 0.25);
  --touchResponse: rgba(0, 0, 0, 0.05);
  --searchBackground: hsl(0, 0%, 100%);
  --searchText: hsl(0, 0%, 6.7%);
}
