@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

:root {
  --textPrimary: #030303;
  --textPrimaryInverse: #ffffff;
  --textSecondary: #606060;
  --textDisabled: #909090;
  --baseBackground: #ffffff;
  --raisedBackground: #ffffff;
  --menuBackground: #ffffff;
  --generalBackgroundA: #f9f9f9;
  --generalBackgroundB: #f1f1f1;
  --generalBackgroundC: #e9e9e9;
  --errorBackground: #181818;
  --invertedBackground: #0f0f0f;
  --additiveBackgroundA05: rgba(0, 0, 0, 0.05);
  --additiveBackgroundA10: rgba(0, 0, 0, 0.1);
  --chipBackground: rgba(0, 0, 0, 0.05);
  --chipBackgroundHover: rgba(0, 0, 0, 0.1);
  --verifiedBadgeBackground: rgba(0, 0, 0, 0.15);
  --outline: rgba(0, 0, 0, 0.1);
  --shadow: rgba(0, 0, 0, 0.25);
  --touchResponse: rgba(0, 0, 0, 0.05);
  --searchBackground: hsl(0, 0%, 100%);
  --searchBorder: #cccccc;
  --searchBorderFocus: #1c62b9;
  --searchText: hsl(0, 0%, 6.7%);
  --searchButton: #f8f8f8;
  --searchButtonBorder: #d3d3d3;
  --searchButtonFocus: #e9e9e9;
  --searchButtonHover: #f0f0f0;
  --searchButtonBorderHover: #c6c6c6;
  --callToAction: #065fd4;
  --callToActionInverse: #065fd4;
  --suggestedAction: #def1ff;
  --suggestedActionInverse: #263850;
}
